* {
  box-sizing: border-box;
}

body { 
  font-family: sans-serif;
}

a {
  color: #007399;
  text-decoration: none;
}

footer {
  display: flex;
  margin-top: 20px;
  border-top: 3px solid black;
  background-color: #007399;
  color: #fff;
}

footer p {
  padding: 20px;
}

.logo {
  display: flex;
}

.nav {
  margin-top: 20px;
  width: 100%;
  border-bottom: 3px solid;
  border-top: 3px solid;
  text-align: right;
  color: #4d4d4d;
  padding: 20px;
  font-weight: 900;
}

.navbutton {
  background-color: #F0F0F0;
  border: 1px solid #007399;
  margin: 0px 10px;
  padding: 4px 10px; 
}

.threecolumn {
  display: flex;
  border: 1px solid black;
}

.section {
  padding: 10px;
}

/* Specifies a top margin in percent of the width of the containing element